MagazineTool/Magazine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Magazine"
    targetNamespace="http://tempuri.org/Magazine.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Magazine.xsd"
    xmlns:mstns="http://tempuri.org/Magazine.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:simpleType name="AuteurRoleEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auteur"/>
      <xs:enumeration value="Correcteur"/>
      <xs:enumeration value="Gabarisateur"/>
      <xs:enumeration value="RelecteurTechnique"/>
      <xs:enumeration value="Traducteur"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SourceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Article" />
      <xs:enumeration value="Actualite" />
      <xs:enumeration value="BilletBlog" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LangageEnum">
    <!-- TO DO : Supprimer les alias -->
    <xs:restriction base="xs:string">
        <xs:enumeration value="actionscript" />
        <xs:enumeration value="ada95" />
        <xs:enumeration value="al" />
        <xs:enumeration value="antlr" />
        <xs:enumeration value="apacheconf" />
        <xs:enumeration value="apdl" />
        <xs:enumeration value="applescript" />
        <xs:enumeration value="as" />
        <xs:enumeration value="asp" />
        <xs:enumeration value="aspect-j" />
        <xs:enumeration value="aspnet" />
        <xs:enumeration value="assembly-m68k" />
        <xs:enumeration value="assembly-macro32" />
        <xs:enumeration value="assembly-mcs51" />
        <xs:enumeration value="assembly-parrot" />
        <xs:enumeration value="assembly-r2000" />
        <xs:enumeration value="assembly-x86" />
        <xs:enumeration value="asymptote" />
        <xs:enumeration value="awk" />
        <xs:enumeration value="b" />
        <xs:enumeration value="batch" />
        <xs:enumeration value="bbj" />
        <xs:enumeration value="bcb" />
        <xs:enumeration value="bcel" />
        <xs:enumeration value="beanshell" />
        <xs:enumeration value="bibtex" />
        <xs:enumeration value="c" />
        <xs:enumeration value="c++" />
        <xs:enumeration value="c#" />
        <xs:enumeration value="ceylon" />
        <xs:enumeration value="chill" />
        <xs:enumeration value="cil" />
        <xs:enumeration value="cobol" />
        <xs:enumeration value="coldfusion" />
        <xs:enumeration value="cmake" />
        <xs:enumeration value="cpp" />
        <xs:enumeration value="csharp" />
        <xs:enumeration value="cshtml" />
        <xs:enumeration value="css" />
        <xs:enumeration value="cuda" />
        <xs:enumeration value="cvs-commit" />
        <xs:enumeration value="d" />
        <xs:enumeration value="dart" />
        <xs:enumeration value="delphi" />
        <xs:enumeration value="delphinet" />
        <xs:enumeration value="docker-compose" />
        <xs:enumeration value="dockerfile" />
        <xs:enumeration value="doxygen" />
        <xs:enumeration value="dragonflybsd" />
        <xs:enumeration value="dsssl" />
        <xs:enumeration value="eiffel" />
        <xs:enumeration value="embperl" />
        <xs:enumeration value="erlang" />
        <xs:enumeration value="factor" />
        <xs:enumeration value="forth" />
        <xs:enumeration value="fortran" />
        <xs:enumeration value="foxpro" />
        <xs:enumeration value="freebsd" />
        <xs:enumeration value="freemarker" />
        <xs:enumeration value="fsharp" />
        <xs:enumeration value="gettext" />
        <xs:enumeration value="glsl" />
        <xs:enumeration value="gnuplot" />
        <xs:enumeration value="go" />
        <xs:enumeration value="gradle-build" />
        <xs:enumeration value="groovy" />
        <xs:enumeration value="haskell" />
        <xs:enumeration value="hex" />
        <xs:enumeration value="hlsl" />
        <xs:enumeration value="htaccess" />
        <xs:enumeration value="html" />
        <xs:enumeration value="i4gl" />
        <xs:enumeration value="icon" />
        <xs:enumeration value="idl" />
        <xs:enumeration value="inform" />
        <xs:enumeration value="ini" />
        <xs:enumeration value="inno-setup" />
        <xs:enumeration value="interlis" />
        <xs:enumeration value="io" />
        <xs:enumeration value="java" />
        <xs:enumeration value="javacc" />
        <xs:enumeration value="javascript" />
        <xs:enumeration value="jcl" />
        <xs:enumeration value="jhtml" />
        <xs:enumeration value="jmk" />
        <xs:enumeration value="js" />
        <xs:enumeration value="json" />
        <xs:enumeration value="jsp" />
        <xs:enumeration value="jsx" />
        <xs:enumeration value="latex" />
        <xs:enumeration value="lilypond" />
        <xs:enumeration value="linux" />
        <xs:enumeration value="lisp" />
        <xs:enumeration value="literate-haskell" />
        <xs:enumeration value="lotos" />
        <xs:enumeration value="lua" />
        <xs:enumeration value="mail" />
        <xs:enumeration value="makefile" />
        <xs:enumeration value="maple" />
        <xs:enumeration value="mathematica" />
        <xs:enumeration value="matlab" />
        <xs:enumeration value="ml" />
        <xs:enumeration value="modula3" />
        <xs:enumeration value="moin" />
        <xs:enumeration value="mqsc" />
        <xs:enumeration value="myghty" />
        <xs:enumeration value="n3" />
        <xs:enumeration value="netbsd" />
        <xs:enumeration value="netrexx" />
        <xs:enumeration value="nqc" />
        <xs:enumeration value="nsis2" />
        <xs:enumeration value="obasic" />
        <xs:enumeration value="objective-c" />
        <xs:enumeration value="objectrexx" />
        <xs:enumeration value="ocaml" />
        <xs:enumeration value="occam" />
        <xs:enumeration value="omnimark" />
        <xs:enumeration value="openbsd" />
        <xs:enumeration value="oracle" />
        <xs:enumeration value="other" />
        <xs:enumeration value="pascal" />
        <xs:enumeration value="patch" />
        <xs:enumeration value="perl" />
        <xs:enumeration value="perl-uniligne" />
        <xs:enumeration value="perso" />
        <xs:enumeration value="php" />
        <xs:enumeration value="php_mixte" />
        <xs:enumeration value="pike" />
        <xs:enumeration value="pl-sql" />
        <xs:enumeration value="pl1" />
        <xs:enumeration value="pop11" />
        <xs:enumeration value="postgresql" />
        <xs:enumeration value="postscript" />
        <xs:enumeration value="povray" />
        <xs:enumeration value="powerdynamo" />
        <xs:enumeration value="powershell" />
        <xs:enumeration value="progress" />
        <xs:enumeration value="prolog" />
        <xs:enumeration value="properties" />
        <xs:enumeration value="psp" />
        <xs:enumeration value="ptl" />
        <xs:enumeration value="purebasic" />
        <xs:enumeration value="pvwave" />
        <xs:enumeration value="pyrex" />
        <xs:enumeration value="python" />
        <xs:enumeration value="qml" />
        <xs:enumeration value="qt" />
        <xs:enumeration value="qt-pro" />
        <xs:enumeration value="r" />
        <xs:enumeration value="rd" />
        <xs:enumeration value="rdf" />
        <xs:enumeration value="rebol" />
        <xs:enumeration value="redcode" />
        <xs:enumeration value="relax-ng-compact" />
        <xs:enumeration value="renderman-rib" />
        <xs:enumeration value="rest" />
        <xs:enumeration value="rhtml" />
        <xs:enumeration value="rpm-spec" />
        <xs:enumeration value="rtf" />
        <xs:enumeration value="ruby" />
        <xs:enumeration value="rust" />
        <xs:enumeration value="rview" />
        <xs:enumeration value="s+" />
        <xs:enumeration value="s#" />
        <xs:enumeration value="sas" />
        <xs:enumeration value="scala" />
        <xs:enumeration value="scilab" />
        <xs:enumeration value="scheme" />
        <xs:enumeration value="scss" />
        <xs:enumeration value="sgml" />
        <xs:enumeration value="shell" />
        <xs:enumeration value="shellscript" />
        <xs:enumeration value="shtml" />
        <xs:enumeration value="slate" />
        <xs:enumeration value="smalltalk" />
        <xs:enumeration value="sdl/pr" />
        <xs:enumeration value="smi-mib" />
        <xs:enumeration value="sql" />
        <xs:enumeration value="sqr" />
        <xs:enumeration value="squidconf" />
        <xs:enumeration value="svn-commit" />
        <xs:enumeration value="swift" />
        <xs:enumeration value="swig" />
        <xs:enumeration value="tcl" />
        <xs:enumeration value="tex" />
        <xs:enumeration value="texinfo" />
        <xs:enumeration value="text" />
        <xs:enumeration value="tpl" />
        <xs:enumeration value="transact-sql" />
        <xs:enumeration value="twig" />
        <xs:enumeration value="twiki" />
        <xs:enumeration value="typescript" />
        <xs:enumeration value="typoscript" />
        <xs:enumeration value="uscript" />
        <xs:enumeration value="vala" />
        <xs:enumeration value="vb" />
        <xs:enumeration value="vbnet" />
        <xs:enumeration value="vbscript" />
        <xs:enumeration value="velocity" />
        <xs:enumeration value="verilog" />
        <xs:enumeration value="vhdl" />
        <xs:enumeration value="windev" />
        <xs:enumeration value="xml" />
        <xs:enumeration value="xq" />
        <xs:enumeration value="xsl" />
        <xs:enumeration value="zpt" />
    </xs:restriction>  
  </xs:simpleType>

  <xs:simpleType name="LienLangueEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fr"/>
      <xs:enumeration value="En"/>
      <xs:enumeration value="Faq"/>
      <xs:enumeration value="Src"/>
      <xs:enumeration value="Srcs"/>
      <xs:enumeration value="Icozip"/>
      <xs:enumeration value="Icopdf"/>
      <xs:enumeration value="Dico"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LienTargetEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="_blank"/>
      <xs:enumeration value="_parent"/>
      <xs:enumeration value="_top"/>
      <xs:enumeration value="_self"/>
      <xs:enumeration value="_search"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AlignementEnum">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Gauche"/>
      <xs:enumeration value="Centre"/>
      <xs:enumeration value="Droite"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="MagazineType">
    <xs:sequence>
      <xs:element name="Numero" type="xs:int" />
      <xs:element name="Date" type="xs:string" />
      <xs:element name="Realisateur" type="xs:string" />
      <xs:element name="Couverture" type="CouvertureType" />
      <xs:element name="Editorial" type="EditorialType" />
      <xs:element name="Categories">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Categorie" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>                  
                  <xs:element name="Articles">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Article" type="ArticleType" minOccurs="1" maxOccurs="unbounded" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Nom" type="xs:string" />
                <xs:attribute name="Icone" type="xs:string" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>      
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="SectionType">
    <xs:sequence>
      <xs:element name="Section" type="SectionType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="Numero" type="xs:int" use="required" />
  </xs:complexType>

  <xs:complexType name="ImageType">
    <xs:attribute name="Src" type="xs:string" use="required" />
    <xs:attribute name="Taille" type="xs:string" use="required" />
  </xs:complexType>
  
  <xs:complexType name="ArticleType">
    <xs:sequence>
      <xs:element name="Titre" type="xs:string" minOccurs="0"/>
      <xs:element name="Rubrique" type="xs:string" minOccurs="0" />
      <xs:element name="Resume" type="xs:string" minOccurs="0" />      
      <xs:element name="Auteurs">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Auteur" type="AuteurType" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Sections" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Section" type="SectionType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Images" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Image" type="ImageType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:string" use="optional"/>
    <xs:attribute name="Ref" type="xs:string" use="optional"/>
    <xs:attribute name="FileName" type="xs:string" />
    <xs:attribute name="URL" type="xs:string" />
    <xs:attribute name="MisEnAvant" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="MisEnAvantOrdre" type="xs:int" use="optional" default="1"/>    
    <xs:attribute name="Complet" type="xs:boolean" use="optional" default="true" />
    <xs:attribute name="Source" type="SourceEnum" use="required" />
  </xs:complexType>

  <xs:complexType name="AuteurType">
    <xs:sequence>
      <xs:element name="Nom" type="xs:string"  />
      <xs:element name="NomComplet" type="xs:string"  />
      <xs:element name="URL" type="xs:string" />      
      <xs:element name="PagePersonnelle" type="xs:string" />
      <xs:element name="Role" type="AuteurRoleEnum" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CouvertureType">
    <xs:sequence>
      <xs:element name="Edito" type="xs:string" />
      <xs:element name="Articles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Article" type="ArticleType" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EditorialType">
    <xs:sequence>
      <xs:element name="Auteur" type="xs:string" />
      <xs:element name="Edito" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Magazine" type="MagazineType" />
</xs:schema>
